# Development files
**/.dev

# Build Files
**/.build

# VSCode files
.DS_Store
.vscode

# Visual Studio files
.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Node Files
**/node_modules